# Required Render environment variables
SCRATCH_USERNAME=your_scratch_username
SCRATCH_PASSWORD=your_scratch_password

# Optional variables
PROJECT_ID=1363601841
API_URL=https://tgrcode.com/mm2/user_info/HQ6-63D-94G
UPDATE_INTERVAL=60
